<div class="home__admin-container" style="overflow: hidden">
  <div class="row">
    <div class="col-3 pd-r pd-l">
      <div class="home-admin__left-area">
        <app-navbar-admin></app-navbar-admin>
      </div>
    </div>

    <div class="col-9 pd-r pd-l">
      <div class="home-admin__right-area">
        <app-header-admin></app-header-admin>

        <div class="home__consultant-container">
          <div class="row">
            <div class="col-4">
              <div class="home__consultant-left-area">
                <div class="header">
                  <h3 class="title">Messages</h3>
                </div>

                <div class="form-search__consultant">
                  <input class="input" type="text" placeholder="Search">
                  <button type="submit" class="button">
                    <i class="search-icon ti-search"></i>
                  </button>
                </div>

                <div class="home__consultant-chat__list">
                  <div class="home__consultant-chat-item">
                    <img src="./assets/img/user/avatar.avif">

                    <div class="info">
                      <h3 class="name">Tuấn</h3>
                      <span class="new-message">Hello,how are today?Hello,how are today?Hello,how are today?</span>
                    </div>

                    <div class="info-detail">
                      <p class="time">Dec 18</p>
                      <span class="circle quantity-message">2</span>
                    </div>
                  </div>
                  <div class="home__consultant-chat-item">
                    <img src="./assets/img/user/avatar.avif">

                    <div class="info">
                      <h3 class="name">Tuấn</h3>
                      <span class="new-message">Hello,how are today?Hello,how are today?Hello,how are today?</span>
                    </div>

                    <div class="info-detail">
                      <p class="time">Dec 18</p>
                      <span class="circle quantity-message">2</span>
                    </div>
                  </div>
                  <div class="home__consultant-chat-item">
                    <img src="./assets/img/user/avatar.avif">

                    <div class="info">
                      <h3 class="name">Tuấn</h3>
                      <span class="new-message">Hello,how are today?Hello,how are today?Hello,how are today?</span>
                    </div>

                    <div class="info-detail">
                      <p class="time">Dec 18</p>
                      <span class="circle quantity-message">2</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-8">
              <div class="home__consultant-right-area">
                <div class="chat-box-container">
                  <div class="header">
                    <div class="info">
                      <img src="./assets/img/user/avatar.avif" alt="">

                      <p class="name">
                        Tina
                        <span>
                          <div class="active"></div>
                          Active
                        </span>
                      </p>
                    </div>

                    <div class="options">
                      <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </div>

                  <div class="chat-box__content">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
