.footer__container {
  background-color: var(--primary-color);
}

.footer__header {
  padding: 60px 0;
  border-bottom: 1px solid #ffffff26;
}

.footer__header img {
  width: 200px;
  object-fit: cover;
}

.footer__header .middle {
  text-align: left;
}

.footer__header .middle h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.footer__header .middle span {
  color: #c2c2c2;
  font-size: 1.5rem;
}

.footer__header-form {
  display: flex;
  align-items: center;
}

.footer__header-form input {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.308);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 0 15px;
  border-radius: 5px;
}

.footer__header-form input::placeholder {
  color: #fff;
}

.footer__header-form button {
  height: 50px;
  border-radius: 5px;
  margin-left: 12px;
  min-width: 120px;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer__header-form button:hover {
  background-color: #fff !important;
  color: var(--primary-color-blue) !important;
}

/* Footer Middle */
.footer__middle {
  padding-top: 40px;
  padding-bottom: 80px;
  border-bottom: 1px solid #ffffff26;
}

.footer__middle .single-footer h3.title {
  position: relative;
  color: #fff;
  font-size: 1.8rem;
}

.footer__middle .single-footer h3.title:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--primary-color-blue);
  bottom: -16px;
}

.footer__middle .single-footer ul {
  margin-top: 42px;
}

.footer__middle .single-footer ul li ,
.footer__middle .single-footer ul li a {
  color: #d6d6d6 !important;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 12px;
  transition: all 0.2s;
}

.footer__middle .single-footer ul li a:hover {
  color: var(--primary-color-blue) !important;
}

.footer__middle .single-footer .footer__download li a {
  color: #fff;
  background-color: #ffffff0f;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  max-width: 230px;
  height: 70px;
  padding: 20px 25px;
  transition: all 0.2s;
}

.footer__middle .single-footer .footer__download li a:hover {
  background-color: var(--primary-color-blue) !important;
  color: #fff !important;
  cursor: pointer;
}

.footer__middle .single-footer .footer__download li i {
  font-size: 3.8rem;
  margin-right: 12px;
}

.footer__middle .single-footer li a {
  position: relative;
  transition: all 0.4s;
  right: 0;
}

.footer__middle .single-footer .right-hover li a:hover {
  right: -3px;
}

/* footer */
.footer__footer {
  padding: 25px 0;
}

.footer__footer span {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 12px;
}

.footer__footer .middle a {
  transition: all 0.3s;
  text-align: center;
  margin-left: 4px;
}

.footer__footer .middle a:hover {
  color: var(--primary-color-blue) !important;
  cursor: pointer;
}

.footer__footer .social ul {
  display: flex;
  align-items: center;
}

.footer__footer .social ul .circle {
  border: none;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.footer__footer .social ul a i {
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
  transform: translateY(5px);
}

.footer__footer .social ul a:hover i {
  background-color: var(--primary-color-blue) !important;
  color: #fff !important;
}
