<footer class="footer__container">
  <div class="container">
    <div class="footer__header">
      <div class="row">
        <div class="col-3">
          <img src="./assets/img/header/white-logo.svg" alt="">
        </div>

        <div class="col-4">
          <div class="middle">
            <h3>Subscribe to our Newsletter</h3>
            <span>Get all the latest information, Sales and Offers.</span>
          </div>
        </div>
        <div class="col-5">
          <form class="footer__header-form">
            <input type="text" class="input" placeholder="Email address here...">
            <button class="button">Subscribe</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer__middle">
      <div class="row">
        <div class="col-3">
          <div class="single-footer">
            <h3 class="title">Our App Mobile</h3>

            <ul>
              <li>Phone: +1 (900) 33 169 7720</li>
              <li>Monday-Friday:<br>
                9.00 am - 8.00 pm
              </li>
              <li>Saturday:<br>
                10.00 am - 6.00 pm
              </li>
              <li>
                <a href="mailto:nguyenhoanganhtuan1206@gmail.com">
                  nguyenhoanganhtuan1206@gmail.com
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-3">
          <div class="single-footer">
            <h3 class="title">Get In Touch With Us</h3>

            <ul class="footer__download">
              <li>
                <a>
                  <i class="fa-brands fa-apple"></i>
                  <span>Download on the <br>App Store</span>
                </a>
              </li>
              <li>
                <a>
                  <i class="fa-brands fa-google-play"></i>
                  <span>Download on the <br>Google Play</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-3">
          <div class="single-footer">
            <h3 class="title">Information</h3>

            <ul class="right-hover">
              <li><a href="javascript:void(0)">About Us</a></li>
              <li><a href="javascript:void(0)">Contact Us</a></li>
              <li><a href="javascript:void(0)">Downloads</a></li>
              <li><a href="javascript:void(0)">Sitemap</a></li>
              <li><a href="javascript:void(0)">FAQs Page</a></li>
            </ul>
          </div>
        </div>

        <div class="col-3">
          <div class="single-footer">
            <h3 class="title">Shop Departments</h3>

            <ul class="right-hover">
              <li><a href="javascript:void(0)">Computers &amp; Accessories</a></li>
              <li><a href="javascript:void(0)">Smartphones &amp; Tablets</a></li>
              <li><a href="javascript:void(0)">TV, Video &amp; Audio</a></li>
              <li><a href="javascript:void(0)">Cameras, Photo &amp; Video</a></li>
              <li><a href="javascript:void(0)">Headphones</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__footer">
      <div class="row align-items-center">
        <div class="col-4">
          <span>We Accept: </span>
          <img src="./assets/img/footer/credit-cards-footer.png" alt="">
        </div>
        <div class="col-4">
          <span class="middle d-flex aligns-item-center justify-content-center">
            Designed and Developed by
            <a>Anh Tuan</a>
          </span>
        </div>
        <div class="col-4">
          <div class="social d-flex align-items-center">
            <span>Follow Us On: </span>
            <ul>
              <li>
                <a>
                  <i class="circle ti-facebook"></i>
                </a>
              </li>

              <li>
                <a>
                  <i class="circle fa-brands fa-google"></i>
                </a>
              </li>

              <li>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </li>

              <li>
                <a>
                  <i class="circle fa-brands fa-twitter"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
