<app-header-top></app-header-top>
<app-header-middle></app-header-middle>
<app-header-navbar></app-header-navbar>
<app-header-footer [currentPage]="currentPage"></app-header-footer>

<div class="home-contact__container section">
  <div class="container">
    <div class="section-title">
      <h2>Contact Us</h2>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form.</p>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="location">
          <div class="single-location">
            <i class="fa-solid fa-map-location-dot"></i>
            <h3 class="title">Address</h3>
            <p>44 Shirley Ave. West Chicago,<br>
              IL 60185, USA.</p>
          </div>

          <div class="single-location">
            <i class="fa-solid fa-phone"></i>
            <h3 class="title">Call us on</h3>
            <a href="tel:+18005554400">+1 800 555 44 00 (Toll free)</a>
          </div>
          <div class="single-location">
            <i class="fa-solid fa-envelope"></i>
            <h3 class="title">Mail</h3>
            <a href="mailto:nguyenhoanganhtuan1206@gmail.com">nguyenhoanganhtuan1206@gmail.com</a>
          </div>

        </div>
      </div>
      <div class="col-8">
        <form class="home-contact__form">
          <div class="home-contact__form-group">
            <input type="text" class="input mr-4" placeholder="Your Name">
            <input type="text" class="input" placeholder="Your Phone">
          </div>

          <input type="email" class="input" placeholder="Your Email">

          <textarea class="input" placeholder="Your Message"></textarea>

          <button class="button">Submit Message</button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
