<header class="header__container">
  <div class="container">
    <header class="header">
      <div class="header__left-area">
        <ul class="header__left-area-list">
          <li>
            <a>Home</a>
          </li>
          <li>
            <a>About Us</a>
          </li>
          <li>
            <a>Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="header__right-area">
        <ul class="header__right-area-list">
          <li class="d-flex align-items-center">
            <i class="fa-solid fa-user"></i>
            Hello
          </li>

          <li>
            <a>Sign in</a>
          </li>

          <li>
            <a>Register</a>
          </li>
        </ul>
      </div>
    </header>
  </div>
</header>
