.header__top-home {
  height: 60px;
  background-color: var(--primary-color);
  color: #fff;
}

.header__top-home .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__top-home-left-area ul ,
.header__top-home-right-area ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.header__top-home-right-area li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__top-home-left-area li a  ,
.header__top-home-right-area li a ,
.header__top-home-right-area li span{
  font-size: 1.4rem;
  font-weight: 500;
  display: block;
  padding: 5px 15px;
  transition: all 0.2s;
  cursor: pointer;
  color: #fff !important;
}

.header__top-home-right-area li span {
  padding: 5px 8px 5px 12px;
}

.header__top-home-right-area li i {
  font-weight: 900 !important;
  font-size: 1.4rem;
}

.header__top-home-left-area li a:hover ,
.header__top-home-right-area li a:hover ,
.header__top-home-right-area li span:hover {
  color: var(--primary-color-blue) !important;
}

.header__top-home-right-area li .name {
  font-size: 1.4rem;
  font-weight: 500;
}

.header__top-home-right-area li.border-right {
  border-right: 1px solid var(--border-color);
  padding-right: 12px;
}

