<header class="header__top-home">
  <div class="container h-100">
    <div class="navbar">
      <div class="header__top-home-left-area">
        <ul>
          <li>
            <a routerLink="">Home</a>
          </li>
          <li>
            <a routerLink="/home-about-us">About Us</a>
          </li>
          <li>
            <a routerLink="/home-contact">Contact Us</a>
          </li>
        </ul>
      </div>

      <div class="header__top-home-right-area">
        <ul>
          <li>
            <i class="fa-solid fa-user"></i>
            <span class="name">Anh Tuấn</span>
          </li>

          <li>
            <a routerLink="/customer/login">Sign in</a>
          </li>

          <li>
            <a routerLink="/customer/register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
