<div class="navbar__container">
  <div class="logo__group">
    <img src="assets/img/header/logo.svg">
  </div>

  <div class="menu-navbar__admin">
    <a class="menu-navbar__admin-item active" [routerLink]="['/admin']">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </a>

    <a class="menu-navbar__admin-item" [routerLink]="['/admin/customer-consultant']">
      <i class="fa-solid fa-user"></i>
      <span>Customer Consulting</span>
    </a>

    <a class="menu-navbar__admin-item">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </a>

    <a class="menu-navbar__admin-item">
      <i class="fa-solid fa-house"></i>
      <span>Home</span>
    </a>
  </div>
</div>
