<div class="header__navbar-container">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="header__navbar-left-area has-categories">
          <div class="header">
              <i class="fa-solid fa-bars"></i>
              <span>All Categories</span>

            <ul class="header__navbar-categories">
              <li>
                <a>Electronics</a>
              </li>

              <li>
                <a>Electronics</a>
              </li>

              <li>
                <a>Electronics</a>
              </li>

              <li>
                <a>Electronics</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="header__navbar-middle">
          <ul class="navbar__list">
            <li>
              <a class="active">Home</a>
            </li>
            <li>
              <a>Pages</a>
            </li>
            <li>
              <a>Shop</a>
            </li>
            <li>
              <a>Blog</a>
            </li>
            <li>
              <a>Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-3">
        <ul class="header__navbar-right-area">
          <li>
            <span>Follow Us: </span>
          </li>

          <li>
            <a>
              <i class="circle ti-facebook"></i>
            </a>
          </li>

          <li>
            <a>
              <i class="circle fa-brands fa-youtube"></i>
            </a>
          </li>

          <li>
            <a>
              <i class="circle fa-brands fa-instagram"></i>
            </a>
          </li>

          <li>
            <a>
              <i class="circle fa-brands fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
