.header__navbar-container {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.header__navbar-left-area {
  height: 100%;
  display: flex;
  align-items: center;
  width: 240px;
}

.header__navbar-left-area .header {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.header__navbar-left-area .header:before {
  position: absolute;
  content: "";
  width: 100%;
  cursor: pointer;
  height: 23px;
  top: 22px;
}

.header__navbar-left-area .header i {
  font-size: 2.2rem;
  margin-right: 12px;
}

.header__navbar-left-area .header span {
  font-size: 1.8rem;
}

/* Middle */
.header__navbar-middle .navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  border-left: 1px solid var(--border-color);
}

.header__navbar-middle .navbar__list li a {
  display: block;
  font-size: 1.5rem;
  padding: 20px 12px;
  transition: all 0.2s;
  font-weight: 500;
}

.header__navbar-middle .navbar__list li a.active {
  color: var(--primary-color-blue);
}

.header__navbar-middle .navbar__list li a:hover {
  color: var(--primary-color-blue);
  cursor: pointer;
}

/* header navbar */
.header__navbar-container .header__navbar-right-area {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

.header__navbar-container .header__navbar-right-area span {
  font-size: 1.4rem;
  font-weight: 500;
}

.header__navbar-container .header__navbar-right-area li:not(:last-child) {
  margin-right: 8px;
}

.header__navbar-container .header__navbar-right-area li i:hover {
  background-color: var(--primary-color-blue);
  color: #ffffff;
}

.header__navbar-container .header__navbar-right-area .circle {
  transition: all 0.2s;
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.header__navbar-left-area.has-categories .header:hover .header__navbar-categories {
  display: block;
}

.header__navbar-categories {
  --growthFrom: 0;
  --growthTo: 1;
  position: absolute;
  top: 167%;
  margin: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 1px solid var(--border-color);
  width: 240px;
  padding: 15px 0;
  border-radius: 3px;
  display: none;
  animation: fadeIn 0.3s ,growth ease-in 0.3s;
  transform-origin: top;
  transition: all 0.3s;
  z-index: 12;
}

.header__navbar-categories li a {
  display: block;
  font-size: 1.5rem;
  padding: 8px 30px;
  transition: all 0.2s;
  cursor: pointer;
}

.header__navbar-categories li a:hover {
  color: var(--primary-color-blue);
}

