<footer class="footer__container">
  <div class="container">
    <div class="footer__header">
      <div class="row">
        <div class="col-3">
          <img class="logo" src="./assets/img/header/white-logo.svg" alt="">
        </div>
        <div class="col-4">
          <div class="footer-newsletter">
            <h3>Subscribe to our Newsletter</h3>
            <span>Get all the latest information, Sales and Offers.</span>
          </div>
        </div>

        <div class="col-5">
          <form class="footer__form">
            <input type="text" class="input" placeholder="Email address here...">
            <button class="button">Subscribe</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer__middle">
      <div class="row">
        <div class="col-3">
          <ul class="single-footer">
            <h3 class="header">Get In Touch With Us</h3>

            <ul class="footer__middle-list">
              <li>
                <span>Phone: +1 (900) 33 169 7720</span>
              </li>

              <li>
                <span>Monday-Friday: <br>
                9.00 am - 8.00 pm</span>
              </li>

              <li>
                <span>Saturday: <br>
                10.00 am - 6.00 pm</span>
              </li>

              <li>
                <a href="mailto:nguyenhoanganhtuan1206@gmail.com">nguyenhoanganhtuan1206@gmail.com</a>
              </li>
            </ul>
          </ul>
        </div>
        <div class="col-3">
          <ul class="single-footer">
            <h3 class="header">Our Mobile App</h3>

            <li class="app-download">
              <a class="first">
                <i class="fa-brands fa-apple"></i>
                <span>Download on the <br>App Store</span>
              </a>
            </li>

            <li class="app-download">
              <a>
                <i class="fa-brands fa-google-play"></i>
                <span>Download on the <br>Google Play</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="single-footer">
            <h3 class="header">Information</h3>

            <ul class="footer__middle-list">
              <li><a class="right-position" href="javascript:void(0)">About Us</a></li>
              <li><a class="right-position" href="javascript:void(0)">Contact Us</a></li>
              <li><a class="right-position" href="javascript:void(0)">Downloads</a></li>
              <li><a class="right-position" href="javascript:void(0)">Sitemap</a></li>
              <li><a class="right-position" href="javascript:void(0)">FAQs Page</a></li>
            </ul>
          </ul>
        </div>
        <div class="col-3">
          <ul class="single-footer">
            <h3 class="header">Shop Departments</h3>

            <ul class="footer__middle-list">
              <li><a class="right-position" href="javascript:void(0)">Computers &amp; Accessories</a></li>
              <li><a class="right-position" href="javascript:void(0)">Smartphones &amp; Tablets</a></li>
              <li><a class="right-position" href="javascript:void(0)">TV, Video &amp; Audio</a></li>
              <li><a class="right-position" href="javascript:void(0)">Cameras, Photo &amp; Video</a></li>
              <li><a class="right-position" href="javascript:void(0)">Headphones</a></li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="row align-items-center">
        <div class="col-4">
          <div class="left-area">
            <span>We Accept: </span>
            <img src="./assets/img/footer/credit-cards-footer.png" alt="">
          </div>
        </div>
        <div class="col-4">
          <div class="middle-area">
              <span>Designed and Developed by
              <a>Anh Tuan</a>
            </span>
          </div>
        </div>
        <div class="col-4">
          <div class="right-area">
            <span>Follow Us On:</span>
            <ul class="social">
              <li>
                <i class="circle fa-brands fa-facebook-f"></i>
              </li>

              <li>
                <i class="circle fa-brands fa-twitter"></i>
              </li>

              <li>
                <i class="circle fa-brands fa-instagram"></i>
              </li>

              <li>
                <i class="circle fa-brands fa-skype"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
