<div class="home__admin-container">
  <div class="row">
    <div class="col-3 pd-r pd-l">
      <div class="home-admin__left-area">
        <app-navbar-admin></app-navbar-admin>
      </div>
    </div>

    <div class="col-9 pd-r pd-l">
      <div class="home-admin__right-area">
        <app-header-admin></app-header-admin>

        <div class="home-admin">
          <!-- Statistical Table -->
          <div class="statistical__table-container">
            <div class="row">
              <div class="col-4">
                <div class="statistical__item">
                  <div class="header">
                    <i class="fas fa-shopping-cart"></i>

                    <h3 class="title">Total Products</h3>
                    <span class="data">232312</span>
                  </div>
                  <div class="footer">
                    <i class="ti-plus"></i>
                    <span>Add New Product</span>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="statistical__item">
                  <div class="header">
                    <i class="fas fa-shopping-cart"></i>

                    <h3 class="title">Total Products</h3>
                    <span class="data">232312</span>
                  </div>
                  <div class="footer">
                    <i class="ti-plus"></i>
                    <span>Add New Product</span>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="statistical__item">
                  <div class="header">
                    <i class="fas fa-shopping-cart"></i>

                    <h3 class="title">Total Products</h3>
                    <span class="data">232312</span>
                  </div>
                  <div class="footer">
                    <i class="ti-plus"></i>
                    <span>Add New Product</span>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="statistical__item">
                  <div class="header">
                    <i class="fas fa-shopping-cart"></i>

                    <h3 class="title">Total Products</h3>
                    <span class="data">232312</span>
                  </div>
                  <div class="footer">
                    <i class="ti-plus"></i>
                    <span>Add New Product</span>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="statistical__item">
                  <div class="header">
                    <i class="fas fa-shopping-cart"></i>

                    <h3 class="title">Total Products</h3>
                    <span class="data">232312</span>
                  </div>
                  <div class="footer">
                    <i class="ti-plus"></i>
                    <span>Add New Product</span>
                  </div>
                </div>
              </div>

              <div class="col-4">
                <div class="statistical__item">
                  <div class="header">
                    <i class="fas fa-shopping-cart"></i>

                    <h3 class="title">Total Products</h3>
                    <span class="data">232312</span>
                  </div>
                  <div class="footer">
                    <i class="ti-plus"></i>
                    <span>Add New Product</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Top selling products -->

        </div>
      </div>
    </div>
  </div>
</div>
