<app-header-top></app-header-top>
<app-header-middle></app-header-middle>
<app-header-navbar></app-header-navbar>
<app-header-footer [currentPage]="currentPage"></app-header-footer>

<div class="reset-password__container">
  <div class="container section">
    <div class="section-title">
      <h2>Reset Password</h2>
    </div>

    <form *ngIf="formResetPassword" [formGroup]="formResetPassword" (ngSubmit)="handleResetPws()" class="reset__form">
      <header>
        <span class="title">Your new password must be different from previous used passwords</span>
      </header>

      <div class="alert alert-danger mt-3" *ngIf="!tokenCheck">Your request reset password was not accepted for security reasons. Your request has expired</div>

      <div class="form-group" formGroupName="passwordGroup">
        <div class="form-group">
          <input type="password"
                 [ngClass]="(password.hasError('required') || password.hasError('maxlength') ||
                 password.hasError('minlength') || passwordGroup.hasError('identityPassword')) && (password.touched || password.dirty)?'error-border':null"
                 class="input" placeholder="Password" formControlName="password">
          <div class="alert alert-danger error"
               *ngIf="password.hasError('required') && (password.touched || password.dirty)">Password cannot be empty
          </div>
          <div class="alert alert-danger error"
               *ngIf="password.hasError('maxlength') && (password.touched || password.dirty)">Password cannot be longer
            than 50 characters
          </div>
          <div class="alert alert-danger error"
               *ngIf="password.hasError('minlength') && (password.touched || password.dirty)">Password must be longer
            than 4 characters
          </div>
          <div class="alert alert-danger error"
               *ngIf="(passwordGroup.hasError('identityPassword') && !password.hasError('minlength') && !password.hasError('required'))
               && ((password.touched || password.dirty) && (confirmPassword.dirty || confirmPassword.touched))">Password
            cannot matches
          </div>
        </div>

        <div class="form-group">
          <input type="password"
                 [ngClass]="(confirmPassword.hasError('required') || confirmPassword.hasError('maxlength') ||
                 confirmPassword.hasError('minlength') || passwordGroup.hasError('identityPassword')) && (confirmPassword.touched || confirmPassword.dirty)?'error-border':null"
                 class="input" placeholder="Confirm Password" formControlName="confirmPassword">
          <div class="alert alert-danger error"
               *ngIf="confirmPassword.hasError('required') && (confirmPassword.touched || confirmPassword.dirty)">
            Confirm password cannot be empty
          </div>
          <div class="alert alert-danger error"
               *ngIf="confirmPassword.hasError('minlength') && (confirmPassword.touched || confirmPassword.dirty)">
            Confirm password must be longer
            than 4 characters
          </div>
        </div>

        <div class="alert alert-danger error"
             *ngIf="password.hasError('passwordUsedCurrently')
               && ((password.touched || password.dirty) && (confirmPassword.dirty || confirmPassword.touched))">You used
          this password recently. Please choose a different one.
        </div>

        <button type="submit" [disabled]="formResetPassword.invalid || tokenCheck == false" class="button">Reset Password</button>
      </div>

      <p>
        <span>Already have an account?</span>
        <a routerLink="/customer/login">Login Now</a>
      </p>
    </form>
  </div>
</div>

<app-footer></app-footer>
