<div class="header__navbar-container">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-3 h-100">
        <div class="mega-category-menu">
          <i class="fa-solid fa-bars"></i>
          <span>All Categories</span>

          <ul class="sub-category">
            <li>
              <span>Electronics</span>
            </li>
            <li>
              <a>Accessories</a>
            </li>
            <li>
              <a>Accessories</a>
            </li>
            <li>
              <a>Accessories</a>
            </li>
            <li>
              <a>Accessories</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-5">
        <ul class="navbar-nav__list">
          <li>
            <span>Home</span>
          </li>

          <li>
            <a>Home
              <i class="ti-angle-down"></i>
            </a>
          </li>

          <li>
            <a>Home
              <i class="ti-angle-down"></i>
            </a>
          </li>

          <li>
            <a>Home
              <i class="ti-angle-down"></i>
            </a>
          </li>

          <li>
            <span>Contact Us </span>
          </li>
        </ul>
      </div>

      <div class="col-4">
        <div class="navbar-nav__right-area">
          <span>Follow Us:</span>

          <ul class="social">
            <li>
              <i class="circle fa-brands fa-facebook-f"></i>
            </li>

            <li>
              <i class="circle fa-brands fa-twitter"></i>
            </li>

            <li>
              <i class="circle fa-brands fa-instagram"></i>
            </li>

            <li>
              <i class="circle fa-brands fa-skype"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
