:root {
  --primary-color: #081828;
  --primary-color-blue: #0167f3;
  --white-color: #fff;
  --border-color: #dadada;

  --purpose-color: #9b51e0;
  --green-color: #8bc38a;
  --blue-color: #438ffe;
  --green-second-color: #83bcbd;
  --yellow-color: #f2994a;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.4rem;
  font-family: "Manrope", sans-serif;
}

ul {
  padding-left: 0 !important;
}

li {
  list-style: none;
}

a:hover {
  text-decoration:none!important;
}

a {
  text-decoration: none !important;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(--growthFrom);
  }
  to {
    transform: scale(--growthTo);
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0)
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

@keyframes border-pulsate {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary-color-blue);
  font-size: 1.4rem;
  border: none;
  outline: none;
  transition: all 0.3s;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  color: var(--white-color) !important;
  background-color: var(--primary-color) !important;
}

.input {
  width: 100%;
  flex: 1;
  height: 45px;
  font-size: 1.4rem;
  outline: none;
  border: 1px solid var(--border-color);
  outline: none;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

/* Content */
.section {
  padding: 100px 0;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-title h2::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  background-color: var(--primary-color-blue);
  margin-left: -25px;
  border-radius: 2px;
  height: 2px;
  width: 50px;
}

.section-title p {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  width: 50%;
  text-align: center;
}

.section-title span {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color-blue);
}


