:root {
  --primary-color: #081828;
  --primary-color-blue: #0167f3;
  --white-color: #fff;
  --border-color: #dadada;

  --purpose-color: #9b51e0;
  --green-color: #8bc38a;
  --blue-color: #438ffe;
  --green-second-color: #83bcbd;
  --yellow-color: #f2994a;

  --success-color: #28a745;
  --warning-color: #ffc107;
  --error-color: #EF5350;

  --success-light-color: rgba(0, 128, 0, 0.4);
  --warning-light-color: rgba(203, 181, 16, 0.4);
  --error-light-color: rgba(244, 16, 16, 0.4);
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.4rem;
  font-family: "Manrope", sans-serif;
}

ul {
  padding-left: 0 !important;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

/* Button */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary-color-blue);
  font-size: 1.4rem;
  border: none;
  outline: none;
  transition: all 0.3s;
  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  color: var(--white-color) !important;
  background-color: var(--primary-color) !important;
}

.input {
  width: 100%;
  flex: 1;
  height: 45px;
  font-size: 1.4rem;
  outline: none;
  border: 1px solid var(--border-color);
  padding: 0 12px;
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

.error-alert {
  font-weight: 600;
  font-size: 1.3rem;
  height: 45px !important;
  display: flex;
  align-items: center;
}

input.error-border {
  border: 1px solid #ff3333;
}

/* Content */
.section {
  padding: 100px 0;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-title h2 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
}

.section-title h2::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  background-color: var(--primary-color-blue);
  margin-left: -25px;
  border-radius: 2px;
  height: 2px;
  width: 50px;
}

.section-title p {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  width: 50%;
  text-align: center;
}

.section-title span {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--primary-color-blue);
}

.alert {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Toast */
.toast-alert {
  /* Forwards always get last value => 0% */
  overflow: hidden;
  animation: slideShow 2s ease forwards;
  margin-top: 12px;
  padding: 20px;
  border-radius: 6px;
  z-index: 99;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.toast-alert__container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 99;
}

.toast-alert .message {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 12px;
}

.toast-alert .message .message_main {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
}

.toast-alert .sub_message {
  color: #888;
  font-weight: 400;
  font-size: 1.5rem;
}

.toast-alert i {
  margin: 0 10px;
  position: relative;
  font-size: 1.6rem;
=======
}

.toast-alert i {
  margin: 0 24px 0 0;
}

.toast-alert.success i {
  background-color: var(--success-color);
  color: #fff;
}

.toast-alert.warning i {
  background-color: var(--warning-color);
  color: #fff;
}

.toast-alert.error i {
  background-color: var(--error-color);
  color: #fff;
}

.toast-alert .count-down {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  animation: countDown 4s ease forwards;
  z-index: 99;
}

.toast-alert .main-message {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
}

.toast-alert .sub-message {
  font-size: 1.5rem;
  color: #888;
  font-weight: 400;
>>>>>>> origin/home-page-management
}

.toast-alert.success .count-down {
  background-color: var(--success-color);
}

.toast-alert.error .count-down {
  background-color: var(--error-color);
}

.toast-alert.warning .count-down {
  background-color: var(--warning-color);
}

.toast-alert.success{
  color: #000;
  border-left: 6px solid var(--success-color);
}

.toast-alert.success i {
  color: #fff;
  background-color: var(--success-color);
}

.toast-alert.warning i {
  color: #fff;
  background-color: var(--warning-color);
}

.toast-alert.warning {
  color: var(--warning-color);
  border-left: 6px solid var(--warning-color);
}

.toast-alert.error i {
  color: #fff;
  background-color: var(--error-color);
}

.toast-alert.error {
  color: var(--error-color);
  border-left: 6px solid var(--error-color);
}

.toast-alert .icon-close {
  height: 25px;
  width: 25px;
  background-color: #fff !important;
  color: #888 !important;
  font-size: 1.6rem;
  transition: all 0.3s;
  margin-top: 6px;
  cursor: pointer;
}

.toast-alert .icon-close:hover {
  opacity: 0.8;
}

.toast-alert.success {
  background-color: #fff;
  border-left: 6px solid var(--success-color);
}

.toast-alert.warning {
  background-color: #fff;
  border-left: 6px solid var(--warning-color);
}

.toast-alert.error {
  background-color: #fff;
  border-left: 6px solid var(--error-color);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

/* This animation used like effect video or music */
@keyframes border-pulsate {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Animation Toast */
@keyframes countDown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes slideShow {
  /* vị trí ban đầu */
  0% {
    transform: translateX(100%);
  }

  25% {
    transform: translateX(-10%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-10px);
  }
}

@keyframes slideHidden {
  /* vị trí ban đầu */
  0% {
    transform: translateX(-10%);
  }

  25% {
    transform: translateX(0%);
  }

  50% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(200%);
  }
}
