<app-header-top></app-header-top>
<app-header-middle></app-header-middle>
<app-header-navbar></app-header-navbar>
<app-header-footer [currentPage]="currentPage"></app-header-footer>

<div class="about-us__container">
  <!-- About Us -->
  <div class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="about-us__img-group">
            <img src="./assets/img/home/about-us/about-img.jpg" alt="">

            <a class="circle button-watch__video">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="content-right">
            <h2 class="title">ShopGrids - Your Trusted & Reliable Partner.</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a
              quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor
              consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat
              lectus, ultrices euismod sagittis.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea
              commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Team -->
  <div class="our-team section">
    <div class="container">
      <div class="section-title">
        <h2>Our Core Team</h2>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form.</p>
      </div>

      <div class="team-list">
        <div class="row">
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="./assets/img/home/about-us/01.jpg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Grace Wright</h3>
                <span>Founder, CEO</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="./assets/img/home/about-us/02.jpg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Taylor Jackson</h3>
                <span>Financial Director</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="./assets/img/home/about-us/03.jpg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Quinton Cross</h3>
                <span>Marketing Director</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="single-team">
              <div class="single-team__img-group">
                <img src="./assets/img/home/about-us/team1.jpg" alt="">
              </div>

              <div class="info">
                <h3 class="name">Anh Tuan</h3>
                <span>Developer</span>
              </div>

              <div class="social">
                <a>
                  <i class="circle fa-brands fa-facebook-f"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-skype"></i>
                </a>
                <a>
                  <i class="circle fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
