<app-header-top></app-header-top>
<app-header-middle></app-header-middle>
<app-header-navbar></app-header-navbar>
<app-header-footer [currentPage]="currentPage"></app-header-footer>

<div class="about-us__container">
  <div class="container">
    <div class="about-us section">
      <div class="row">
        <div class="col-6">
          <div class="about-us__img-group">
            <img src="./assets/img/home/about-us/about-img.jpg" alt="">

            <a class="circle button-watch__video">
              <i class="fa-solid fa-play"></i>
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="content-right">
            <h2 class="title">ShopGrids - Your Trusted & Reliable Partner.</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at risus pellentesque faucibus a
              quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo. Morbi vitae est eget dolor
              consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod lorem pharetra nec. Duis erat
              lectus, ultrices euismod sagittis.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi aliquip ex ea
              commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
