<app-header></app-header>
<app-header-body></app-header-body>
<app-header-navbar></app-header-navbar>

<div class="home__container">
  <!-- Introduction -->
  <div class="home-introduction">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <div class="home__slide-introduction">
            <div id="homeSlideIntroduction" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#homeSlideIntroduction" data-slide-to="0" class="active"></li>
                <li data-target="#homeSlideIntroduction" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="home__slide-introduction-img">
                    <img class="d-block w-100" src="./assets/img/home/slide/slider-bg1.jpg" alt="First slide">

                    <div class="home__slide-introduction__content">
                      <div class="info">
                        <span>No restocking fee ($35 savings)</span>
                        <h2>M75 Sport Watch</h2>
                      </div>
                      <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore dolore
                        magna aliqua.
                      </p>

                      <div class="price">
                        <span>Now Only: </span>
                        <h3>$320.99</h3>
                      </div>
                      <a class="button">Show Now</a>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="home__slide-introduction-img">
                    <img class="d-block w-100" src="./assets/img/home/slide/slider-bg2.jpg" alt="First slide">

                    <div class="home__slide-introduction__content">
                      <div class="info">
                        <span>Big Sale Offer</span>
                        <h2>Get the Best Deal on CCTV Camera</h2>
                      </div>

                      <p class="desc">
                        Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore dolore
                        magna aliqua.
                      </p>

                      <div class="price">
                        <span>Combo Only: </span>
                        <h3>$590.00</h3>
                      </div>

                      <a class="button">Show Now</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="home__slide-introduction-node next" href="#homeSlideIntroduction" role="button"
                   data-slide="next">
                <i class="fa-solid fa-angle-right" aria-hidden="true"></i>
              </div>

              <div class="home__slide-introduction-node prev" href="#homeSlideIntroduction" role="button"
                   data-slide="prev">
                <i class="fa-solid fa-angle-left" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="home__slide-introduction-right-area">
            <div class="top position-relative">
              <img src="./assets/img/home/slide/slider-bnr.jpg">

              <div class="content">
                <span>New line required</span>
                <h2>iPhone 12 Pro Max</h2>
                <p class="price">$259.99</p>
              </div>
            </div>

            <div class="bottom position-relative">
              <img src="./assets/img/home/slide/small-banner-bg.png">

              <div class="content">
                <h2>Weekly Sale!</h2>
                <span>Saving up to 50% off all online store items this week.</span>
                <a class="button">Show Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured Categories -->
  <div class="featured-categories section">
    <div class="container">
      <div class="section-title">
        <h2>Featured Categories</h2>
      </div>
    </div>
  </div>
</div>
