<app-header-top></app-header-top>
<app-header-middle></app-header-middle>
<app-header-footer [currentPage]="currentPage"></app-header-footer>

<div class="forgot-password__container">
  <div class="container section">
    <div class="section-title">
      <h2>Forgot Password</h2>
    </div>

    <form [formGroup]="formSendEmail" class="form__forget-password" (ngSubmit)="sendRequest()">
      <header>
        <span class="title">Enter the mail associated with your account and we'll send you to link reset password</span>
      </header>

      <div class="alert alert-success mt-3" *ngIf="checkSentToMail">We have sent the link to reset password. Please check your email.</div>
      <div class="alert alert-danger mt-3" *ngIf="checkSentToMail">Have some errors. Please check again your mail.</div>

      <input type="text" id="email" class="input"
             [ngClass]="(email.hasError('required') || email.hasError('pattern'))&& (email.dirty || email.touched)?'error-border':null"
             formControlName="email">
      <div class="alert alert-danger error-alert" *ngIf="email.hasError('pattern') && (email.dirty || email.touched)">
        Email is invalid
      </div>
      <div class="alert alert-danger error-alert"
           *ngIf="email.hasError('required') && (email.dirty || email.touched)">Email not be empty
      </div>
      <div class="alert alert-danger error-alert"
           *ngIf="(email.hasError('minlength') && !email.hasError('pattern')) && (email.dirty || email.touched)">Email
        must be longer than 17 characters
      </div>

      <button [disabled]="formSendEmail.invalid" type="submit" class="button">Confirm</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
