<app-header-top></app-header-top>
<app-header-middle></app-header-middle>
<app-header-footer [currentPage]="currentPage"></app-header-footer>

<div class="forgot-password__container">
  <div class="container section">
    <div class="section-title">
      <h2>Forgot Password</h2>
    </div>

    <div class="form__forget-password">
      <span class="title">We will sending a reset password link to your email</span>
      <input type="email" class="input" placeholder="Enter your email">

      <button type="submit" class="button">Confirm</button>
    </div>
  </div>
</div>

<app-footer></app-footer>
