.forgot-password__container {
  background-color: #f9f9f9;
}

.form__forget-password {
  width: 450px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

.form__forget-password input {
  margin-top: 12px;
}

.form__forget-password span.title {
  font-size: 1.6rem;
  text-align: center;
}

.form__forget-password button {
  width: 100%;
  height: 40px;
  margin-top: 12px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.5rem;
}

.form__forget-password p {
  font-size: 1.6rem;
  text-align: center;
  margin: 12px 0 0 0;
}

.form__forget-password p a {
  font-weight: 600;
  margin-left: 4px;
}
