.header__body-container {
  padding: 25px 0;
  border-bottom: 1px solid var(--border-color);
}

.header__body-form {
  display: flex;
  align-items: center;
}

.header__body-form select {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 0 0px 0px 12px;
}

.header__body-form input {
  flex: 3;
  padding: 0 12px;
}

.header__body-form button {
  height: 45px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0 15px;
}

.header__body-form button i {
  font-size: 1.6rem;
}

.header__body-container .right-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__body-container .contact-info {
  display: flex;
  align-items: center;
}

.header__body-container .contact-info .info {
  margin-left: 12px;
}

.header__body-container .contact-info .info h3 {
  margin: 0;
}

.header__body-container .contact-info .info p {
  margin: 0;
  font-size: 1.5rem;
  color: #888;
  font-weight: 400;
}

.header__body-container .navbar-cart {
  display: flex;
  align-items: center;
}

.header__body-container .navbar-cart i:first-child {
  margin-right: 12px;
}

.header__body-container .navbar-cart-group {
  position: relative;
  cursor: pointer;
}

.header__body-container .navbar-cart-group i {
  transition: all 0.3s;
  cursor: pointer;
}

.header__body-container .navbar-cart-group i:hover {
  background-color: var(--primary-color-blue);
  color: #fff;
}

.header__body-container .navbar-cart-group .quantity {
  position: absolute;
  top: -2px;
  font-size: 1.3rem;
  color: #fff;
  background-color: #000;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  right: 3px;
  border: 1px solid #eee;
}

.navbar-cart-group:hover .has-cart.shopping-item {
  display: block;
}

.navbar-cart-group .shopping-item {
  position: absolute;
  top: 172%;
  right: 0;
  width: 300px;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 20px 25px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform-origin: top right;
  animation: fadeIn 0.3s;
  transition: all 0.3s;
  display: none;
  z-index: 12;
}

.navbar-cart-group .shopping-item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  top: -31px;
  left: 0;
  cursor: pointer;
}

.header__body-container .shopping-item .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}

.header__body-container .shopping-item .header h3 {
  font-size: 1.5rem;
  padding-bottom: 12px;
  margin-bottom: 0;
}

.header__body-container .has-cart .item {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 12px;
}

.header__body-container .has-cart .shopping-item__img {
  height: 78px;
  width: 78px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
}

.header__body-container .has-cart .shopping-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__body-container .has-cart .info {
  margin-left: 18px;
}

.header__body-container .has-cart .info .name {
  font-size: 1.8rem;
  font-weight: 500;
  display: block;
  color: #000000;
}

.header__body-container .has-cart .info span {
  font-size: 1.4rem;
  color: #888;
  font-weight: 400;
}

.header__body-container .has-cart .item i {
  height: 22px;
  width: 27px;
  border-radius: 50%;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__body-container .has-cart .bottom .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__body-container .has-cart .bottom .total span {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 12px;
}

.header__body-container .has-cart .bottom .button {
  height: 40px;
  font-weight: 500;
  border-radius: 3px;
}
