<div class="header__body-container">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="./assets/img/header/logo.svg" alt="">
      </div>
      <div class="col-6">
        <form class="header__body-form">
          <select class="input">
            <option value="" selected>All</option>
            <option value="">All</option>
            <option value="">All</option>
            <option value="">All</option>
          </select>
          <input type="text" class="input" placeholder="Search">
          <button class="button">
            <i class="ti-search"></i>
          </button>
        </form>
      </div>
      <div class="col-4">
        <div class="right-area">
          <div class="contact-info">
            <i class="circle fa-solid fa-phone"></i>

            <div class="info">
              <h3>Hotline: </h3>
              <p>(+100) 123 456 7890</p>
            </div>
          </div>

          <div class="navbar-cart">
            <div class="navbar-cart-group">
              <i class="circle ti-heart"></i>
              <span class="quantity">3</span>
            </div>

            <div class="navbar-cart-group">
              <i class="circle ti-shopping-cart"></i>
              <span class="quantity">3</span>

              <ul class="has-cart shopping-item">
                <li class="header">
                  <h3>2 Items</h3>
                  <h3>View Cart</h3>
                </li>

                <li class="item">
                  <div class="shopping-item__img">
                    <img src="./assets/img/header/item1.jpg" alt="">
                  </div>

                  <div class="info">
                    <a class="name">Apple Watch Series 6</a>
                    <span>
                      1x- $99.00
                    </span>
                  </div>

                  <i class="ti-close"></i>
                </li>

                <li class="item">
                  <div class="shopping-item__img">
                    <img src="./assets/img/header/item1.jpg" alt="">
                  </div>

                  <div class="info">
                    <a class="name">Apple Watch Series 6</a>
                    <span>
                      1x- $99.00
                    </span>
                  </div>

                  <i class="ti-close"></i>
                </li>

                <li class="bottom">
                  <div class="total">
                    <span>Total</span>
                    <span class="price">$123</span>
                  </div>

                  <a class="button">Checkout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
